<div class="container">
  <div class="row" [ngSwitch]="dashBoardViewControllerOne">
    <div class="" *ngSwitchCase="'playerOneGrid'">
      <app-playeroneposition
      [toggleGrid]="playerOneViewController"
      [gridTogglar]="playerOneGridController"
      (incrementGridTogglar)="incrementfirstPlayerGridController ()">
      </app-playeroneposition>
    </div>
    <div class="" [ngSwitch]="dashBoardViewControllerTwo">
      <div class="" *ngSwitchCase="'playerTwoGrid'">
        <app-playertwoposition
        [toggleGrid]="playerTwoViewController"
        [gridTogglar]="playerTwoGridController"
        (incrementGridTogglar)="incrementSecondPlayerGridController ()">
        </app-playertwoposition>
      </div>
    </div>
  </div>
</div>
